- if flash[:alert]
  .alert.alert-dismissible.alert-warning
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %h4 Warning!
    %p= flash[:alert]
- if flash[:notice]
  .alert.alert-dismissible.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %p= flash[:notice]
