# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b952db3e71e2952739dcfdd39d5b6c4257af1bc7f545038313a5567a4c3e38b90f50197d9e2f1e0ccba9f15d82df2dfe47ea642b11fc66c36d444f16b1da08fb

test:
  secret_key_base: ab4036c988896ec5527dd8d3b04c405f2fbbc28dbc4092f3026852c1086ef21f5d9bf98827a3af031ac1a2a2e8a0f15e3c989265f65f33e6218fdc1c3b14d8ea

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
